body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
	background-color: white;
}

header{
	background-color: #003874;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Knockout HTF67 FullBantamwt', 'Haettenschweiler ', 'Arial', sans-serif
}

/* header styles */

header h1{
	color: white;
	font-size: 50px;
}

header img{
	width: 300px;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 30px;
	color: #B49759;
	margin: 40px 0 10px;
}


footer{
	background-color: #003874;
	text-align: center;
	color: white;
	padding: 25px;
}

footer p{
	margin: 0;
}
